<%- include("includes/head", { pageTitle: "An error occurred!" }) %>
<link rel="stylesheet" href="/styles/404.css">
</head>
<body>
    <%- include("includes/header") %>
    <main>
        <h1>Not Authenticated!</h1>
        <img src="/assets/500-image.png" alt="404-image">
        <p>You are not authenticated, don't try any stupid things ;) <section>error code: 401</section></p>
        <p><a class="btn" href="/">Back to safe place</a></p>
    </main>
<%- include("includes/footer") %>
