<%- include("includes/head", { pageTitle: "An error occurred!" }) %>
<link rel="stylesheet" href="/styles/404.css">
</head>
<body>
    <%- include("includes/header") %>
    <main>
        <h1>Could not find resource</h1>
        <img src="/assets/404-image.png" alt="404-image">
        <p>Unfortunately, we could not find the requested resource! <section>error code: 404</section></p>
        <p><a class="btn" href="/">Back to safe place</a></p>
    </main>
<%- include("includes/footer") %>
