<header id="main-header">
  <div id="logo"><a href="/">Demo Shop</a></div>
  <nav><%- include("nav-items") %></nav>
  <button id="mobile-menu-btn">
    <span class="bar top"></span>
    <span class="bar middle"></span>
    <span class="bar bottom"></span>
  </button>
</header>

<aside id="mobile-menu">
  <nav><%- include("nav-items") %></nav>
</aside>
